.row {
    width: 992px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  
  /* BLOCCO LEZIONI */
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 50%;
    float: left;
  }
  
  #lezioni .row img {
    /* per centrare orizzontalmente */
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  #lezioni {
    text-align: center;
  }
  
  /* BLOCCO STEPS */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: left;
    width: 33%;
  }
  
  #steps {
    text-align: center;
  }
  
  /* BLOCCO PERCHE */
  #why {
    text-align: center;
  }
  
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    width: 100%;
    margin-top: 80px;
  }
  
  #why .row img {
    background-color: #428bca;
    border-radius: 50%;
    padding: 30px
  }
  
  /* COMMON */
  .row::after {
    content: '';
    display: table;
    clear: both;
  }
  
  .container.grey {
    background-color: #f9f9f9;
  }
  
  img {
    height: 200px;
  }
  
  .clear {
    clear: both;
  }
  

  /* Regole media query */
  @media  (max-width: 420px){

    #lezioni .row>.left,
    #lezioni .row>.right{
        float: none;
        margin: auto;
        width: 100%;
    }

    .row{
        background-color:#f2f2cd;
        width: 100%;
    }


    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
        width: 100%;
        float: none;
        margin: auto;
        
    }

    #steps .row{
        background-color: #fff;
        width: 100%;
    }

    h1{
        font-size: 50px;
    }

    h3{
        font-size: 38px;
    }

    hr{
        border: 3px solid #000;
    }

    
  }

  @media  (min-width: 768px)  {

    #lezioni .row>.left,
    #lezioni .row>.right{
        float: none;
        margin: auto;
        width: 100%;
    }

    .row{
        background-color:rgba(8, 245, 28, 0.774);
        width: 100%;
    }


    

    #steps .row{
        background-color: rgb(243, 4, 4);
        width: 100%;
    }

    h1{
        font-size: 50px;
    }

    h3{
        font-size: 38px;
    }

    hr{
        border: 3px solid rgb(117, 8, 241);
    }

    
  }

  
